@import url(https://fonts.googleapis.com/css?family=Jura&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Russo+One|Rubik+One&subset=latin,cyrillic);
  body {
	   margin:0;
	   height:auto;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
   }
  
a { 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
	outline: none;
   } 

    
    
.Logo{
	padding-left:auto;
	padding-right:auto;
	margin-top:0;
	height:300px;
	width:960px;
	display:inline;
    overflow:auto;
	background-color:white;
	text-align:center
}

 .Logo img{
	padding-left:0;
    paddig-right:0;	
 } 
 
.Logotip img{
	padding-top:10px;
	padding-right:420px;
	margin-top:0;
	max-height: 150px;
}
  

.Logo a{
	padding-left:0;
	padding-right:10px;
	max-height:50px;
}


.periscope img:hover{
	margin-bottom:7px;
}

.Instagram img:hover{
	margin-bottom:7px;
}

.vk img:hover{
	margin-bottom:7px;
}

.facebook img:hover{
	margin-bottom:7px;
}

.YouTube img:hover{
	margin-bottom:7px;
}


.MenuPhone img{
	display:none;
}


.menu{
	margin-top:10px;
	margin-left:auto;
    margin-right:auto;
	position:relative;
	height: 64px;
	width:960px;
	background:rgba(199, 199, 199, 0.8);
	border-radius: 10px;
	box-shadow: 0 0 15px 5px;
}

.menu a:visited{
	color:black;
	outline: none;
	}
	
.menu a:hover{
color: #cccccc;
outline: none;

	}
	
.menu a:active{
color: rgba(209, 209, 209, 0.8);
text-decoration: underline;
outline: none;
}	

.menu li:hover{
     background:rgba(31, 31, 31, 0.8);
	 color: #cccccc;
  }
  
.menu li:active{
	   background:rgba(31, 31, 31, 0.8);
	   box-shadow: inset 0 0 12px 0 black;
	   color:red;
  }
  
.menu li:visited{
	   background:rgba(31, 31, 31, 0.8);
	   color: black;
  }


  
.menu ul{
	padding-top:11px;
	margin-top:0;
	margin-bottom:0;
	font-family: 'Jura', sans-serif;
	font-size: 40px;
	font-color: black;
	
} 

.menu li{
	margin:0;
    padding:11px;
	display: inline; 
	/*box-shadow:  0 0 12px 0 black;
	border-radius:7px;*/
}

.menu a{
margin-bottom:0;	
	
}






.mainpart{
	border:0;
	padding:0;
	margin-top:16px;
	margin-left:auto;
    margin-right:auto;
	position:relative;
	min-height: 700px;
	height: auto;
	width:900px;
	background:rgba(255, 255, 255, 0.8);
	box-shadow: 0 10px 25px 10px;
	margin-bottom: 15px;
font-family: Verdana,Helvetica,sans-serif;
color:rgb(45, 45, 45);

}

.mainpart img{
	margin-left:40px;
	text-align:justify;
	max-height:400px;
	max-width:400px;
}

.mainpart p{
	margin-top:0;
	text-align:justify;
	margin-left:40px;
	margin-right:40px;
	padding-top:30px;
    white-space: normal;
	font-size: 12pt;
	 text-indent:17px;
	 line-height:1.5;
}

.mainpart iframe{
	padding-top:50px;
	padding-bottom:20px;
	margin-left:40px;

	
}

@media screen and (max-width:480px) {
	html, body {
   margin:0;
	   height:auto;
	   wifth:100%;
	   background-color: black;
	   background:rgb(255, 255, 255);
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
  }
	
	
	.Logo{
	padding-left:auto;
	padding-right:auto;
	width:100%;
	background-color:white;
	text-align:center;
}

	.Logo a{
    padding-top:auto;
	position:fixed;
	padding-left:0;
	padding-right:5px;
	max-height:20px;
}

 .Logo img{
margin-bottom:auto;
position:fixed;
 } 
 
.Logotip img{
	margin-bottom:auto;
}


.MenuPhone a{
color:red;
max-width:50px;
max-height:50px;	
}

.MenuPhone img{
	display:block;
	max-height:40px;
	margin-left:5px;
	margin-top:5px;
}

.menu{
	position:fixed;
    top:0;
	margin-top:0;
	font-color:white;
	height: 50px;
	width:100%;
	background:rgb(38, 38, 38);
	border-radius: 0;
	box-shadow: 0 0 15px 5px;
	z-index:1;
}


.menu a:visited{
	color:#cccccc;
	outline: none;
	}
	
	.menu a:hover{
color: #cccccc;
outline: none;
text-decorarion:none;

	}
	
.menu a:active{
color: rgba(209, 209, 209, 0.8);
text-decorarion:none;
outline: none;
font-size: 18px;
}	

.menu li:hover{
  background:rgb(38, 38, 38);
	 color: #cccccc;
  }
  
.menu li:active{
	  background:rgb(38, 38, 38);
	   box-shadow: none;
	   color:red;
  }
  
.menu li:visited{
	   background:rgb(38, 38, 38);
	   color: black;
  }
	
	.buttons
{ 
   display: none; 
} 
.MenuPhone:focus ~ .buttons, 
.MenuPhone:active ~ .buttons, 
.buttons:hover 
{ 
	color: #cccccc;
   display: block; 
   position:fixed;
} 

.menu ul{
	margin-top:0;
	margin-bottom:0;
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	font-color: white;
	background:rgb(38, 38, 38);
} 

.menu li{
	color:white;
	background:rgb(38, 38, 38);
	margin:0;
	display: block; 
}

.menu a{
margin-bottom:0;	
color: #cccccc;
}

.buttons a{
color:white;	
}

.mainpart{
	margin-top:40px;
	border:0;
	padding:0;
	margin-left:auto;
    margin-right:auto;
	position:relative;
	min-height: 800px;
	height: auto;
	width:100%;
	background:rgba(224, 255, 255, 0.8);
	box-shadow: 0 10px 25px 10px;
	margin-bottom: 15px;
font-family: Verdana,Helvetica,sans-serif;
color:rgb(45, 45, 45);
}


.mainpart img{
	margin-left:0;
	max-width:100%;
	width:100%;
}


.mainpart p{
	margin-top:0;
	text-align:justify;
	margin-left:40px;
	margin-right:40px;
	padding-top:30px;
    white-space: normal;
	font-size: 12pt;
	 text-indent:17px;
	 line-height:1.5;
}

.mainpart iframe{
	padding-top:30px;
	padding-bottom:20px;
	padding-left:auto;
	padding-right:auto;
}	
}